{% extends '_base.html' %}

{% block content %}

<style>
  .bottom-space {
     margin-bottom: 1cm;
  }
</style>

<h1>Preview</h1>
<h2>Questionnaire {{ questionnaire.pk }}: {{ questionnaire.questionnaire_name }}</h2>

<div style="background-color:#E6E6E6;color:black;padding:20px;">
  <ul style="list-style-type:none">
    {% for question in question_list %}
    <p class="bottom-space">
        <li><b>Question {{ question.position }}: {{ question.question_text }} </b>(Show by Default: {{ question.show_by_default }})</li>

        <ul style="list-style-type:disc">

        {% if question in questionnaire.textquestion_set.all %}

        {% elif question in questionnaire.dragscalequestion_set.all %}
            <p>Minimum: {{ question.min_value }} - Maximum: {{ question.max_value }}</p>

        {% else %}
        {# single or multi choice question #}
            <p>{% for choice in question.choiceoption_set.all %}
            <li>{{ choice.choice_text }}
              {% if choice.next_question_position %}(Follow up question: {{choice.next_question_position}}){% endif %}
            </li>
            {% endfor %}</p>
        {% endif %}
        </ul>
    </p>
    {% endfor %}
  </ul>
</div>

{% endblock %}
