{% extends '_base.html' %}

{% block content %}

<h1>Preview</h1>
<h2>Questionnaire {{ questionnaire.pk }}: {{ questionnaire.questionnaire_name }}</h2>

<div style="background-color:#E6E6E6;color:black;padding:20px;">
  <ul style="list-style-type:none">
    {% for question in question_list %}
      <li>Q{{ forloop.counter }}: {{ question.question_content }}</li>
      {% if question.question_type == choice_question_list %}

        {{ question.option }}

      {% elif question in scale_question_list %}
      <ul style="list-style-type:none">
        <li>Minimum: {{ question.min_value }}</li>
        <li>Maximum: {{ question.max_value }}</li>
        <li>Gap: {{ question.gap_value }}</li>
      </ul>
      {% endif %}
      <p>
    {% endfor %}
  </ul>
</div>

{% endblock %}
