{% extends '_base.html' %}

{% block content %}

  <h1>{{ study.study_name }}</h1>

  {% for questionnaire in study.questionnaire_set.all %}
    <div style="background-color:#E6E6E6;color:black;padding:20px;">
      <h4>Questionnaire {{ questionnaire.questionnaire_name }}</h4>

      <ul style="list-style-type:none">
        <li>Start date and time: {{ questionnaire.get_start_time }}</li>
        <li>End date and time: {{ questionnaire.deadline_date_time }}</li>

        <li>Start condition:
          <ul>
            {% for triggerEvent in questionnaire.triggerEvent_set.all %}
            <li>{{ triggerEvent }}</li>
            {% endfor %}
          </ul>

        <li>Questionnaires released: </li>
        <li>Answers received so far: </li>
      </ul>
    </div>


    {% endfor %}

<!--TODO: a combobox to choose a study
    <form action="{% url 'view_answers' 1 %}" method="get">
      <select>
        {% for study in }
        <option value="1">Study 1</option>
      </select>
      <input type="submit" value="Submit">
    </form>
-->

{% endblock %}
