{% extends 'registration/_base_registration.html' %}


{% block registration_content %}

    <form method="post" action="{% url 'registration_register' %}">
        {% csrf_token %}

        <p class="bs-component">
            <table>
                <tr>
                    <td>User Name: </td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>Password again: </td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
        </p>

        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" value="Register" />
            </center>
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {% if form.errors %}
        <h4>Form Errors:</h4>
        {{ form.errors }}
    {% endif %}

    {% if not user.is_authenticated %}
        <p>You can also <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}

{% endblock %}